* {
  background: #222222;
  color: white;
}
.App {
  padding: 30px;
  display: flex;

}

.App > div {
  margin-right: 50px;
}
button {
  background: none;
  border: 1px solid white;
  border-radius: 15px;
}
input {
  border-bottom: 1px solid white;
  border-right:  none;
  margin-right: 5px;
}
ul {
  list-style: none;
}

.input-checkbox {
  border: 1px solid white;
  background: none;
}

.input-date {
  border: 1px solid white;
  background: none;
  /*width: 150px;*/
  /*height: 15px;*/
}

.error {
  border: red 1px solid
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
  color: saddlebrown;
  border: none;
  margin-right: 5px;
}

.is-done {
  opacity: 0.5;
}
.delete-todolist {
  color: white;
  border: 1px solid white;
  margin-left: 5px;
  font-size: 10px;
  height: 25px;
  width: 25px;
  background-color: saddlebrown;
  &:hover {
    background-color: white;
    color: black;
    scale: 1.2;
  }
}

